:root {
    --horizontal-padding: 2em;
    --vertical-padding: 1.8em;
    /* old version 231, 231, 231 */
    --white: rgb(205, 205, 205);
}

html,
body {
    background: rgb(38,38,38);
    background: -moz-linear-gradient(180deg, rgba(38,38,38,1) 0%, rgba(25,25,25,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(38,38,38,1) 0%, rgba(25,25,25,1) 100%);
    background: linear-gradient(180deg, rgba(38,38,38,1) 0%, rgba(25,25,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262626",endColorstr="#191919",GradientType=1);   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262626",endColorstr="#212121",GradientType=1);    /* background: #212121; */

    margin: 0;

    color: var(--white);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-end {
    align-items: end;
}




main {
    background: #101010;

    width: 50%;
    height: 100vh;

    margin: 0 auto;
}


header {
    background: #161616;

    height: 10%;
    width: 100%;

    font-size: .7em;

    padding: 0 var(--horizontal-padding);
}

#header-logo-container {}

#header-logo-container img {
    height: 3.3em;
}

#header-logo-text {
    margin-left: .5em;
}

#header-logo-text small {
    font-weight: 200;
}





#programContainer {
    /* background is inherited from main background */

    /* consider calculating this instead maybe with calc() */
    height: 80%;
    width: 60%;

    margin: 0 auto;
}

#program {
    height: 40%;
}


#programToolbar {
    height: 15%;

    background: #2A2A2A;

    padding: .6em var(--horizontal-padding);
}

#programToolbar select {
    /* #programToolbar adjustment in height was inherited here... which caused issues. */
    height: fit-content;

    background: #161616;

    color: var(--white);

    margin-right: 1em;
}

#programToolbar select:last-child {
    margin-right: 0;
}

#programToolbarStatistics {
    font-size: .8em;
}

#programToolbarStatistics small {
    margin-left: .5em;
}

#programToolbarStatistics .pair {
    margin-right: .8em;
}

#programToolbarStatistics .pair:hover {
    cursor: help;
}

#programToolbarStatistics .pair:last-child {
    margin-right: 0;
}


#programQuote {
    height: 85%;
    background: #161616;
    padding: var(--vertical-padding) var(--horizontal-padding);
    /* make the height of this fixed... */
}

#programQuoteFooter {
    margin-top: var(--vertical-padding);
}

#programQuoteInfo {
    font-size: .9em;
}

#programQuoteOrigin {
    color: rgb(72, 97, 255);
}

#programQuoteAuthor {
    color: gray;
}

#programQuoteActions img {
    margin-right: .7em;
}

#programQuoteActions img:hover {
    cursor: pointer;
}

#programQuoteActions img:last-child {
    margin-right: 0;
}

.programActiveQuoteAction {}



#programMetadata {
    height: 35%;
    background: #2A2A2A;
    padding: 1em var(--horizontal-padding);
}

table {
    text-align: left;
    font-size: .8em;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    /* border: 1px solid black; */
    padding: .3em 0;
    /* 
    doesn't work
    
    text-overflow: ellipsis; */
}

tr {
    margin: .2em 0;
    padding: .2em 0;
}

tr:nth-of-type(odd) {
    background: #161616;
}

tr:first-child {
    background: unset;
}



#programHistory {
    height: 100%;
}


footer {
    background: #161616;

    /* header also has same height... maybe add root variable */
    height: 10%;
    width: 100%;

    font-size: .7em;

    padding: var(--vertical-padding) var(--horizontal-padding);
}

#footerLogos {
    width: fit-content;
}

#footerLogos img:nth-child(even) {
    margin: auto 1em;
}

footer ul li {
    list-style-type: none;
}

#footerNavigation div:nth-child(even) {
    margin: 0 1em;
}