html, body {
    background: rgb(215, 215, 215);
}

main {
    width: 30%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}


#typingDisplay {
    position: relative;
}
#typingDisplay p {
    font-size: 1.2em;
    /* 
    In JS adding " " to the (p) element does not appear.
    pre-wrap preserves whitespace so " " does appear.
     */
    white-space: pre-wrap;
}


#statistics {
    position: absolute;
    bottom: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#statistics div {

}


input {
    box-sizing: border-box;
    width: 100%;
    /* pointer-events: none; <- disables the input */
}

#userInput .wrong {
    border-bottom: solid 1px red;
    color: red;
}


@keyframes blink {
    0% {
        background: rgba(0, 0, 0, 100%);
        color: white;
    }
    20% {
        background: rgba(0, 0, 0, 100%);
        color: white;
    }
    25% {
        background: rgba(0, 0, 0, 100%);
        color: white;
    }
    50% {
        background: rgba(0, 0, 0, 90%);
        color: white;
    }
    100% {
        background: rgba(0, 0, 0, 0%);
        color: black;
    }
}
#indicator {
    width: 1px;
    background: rgba(0, 0, 0, 100%);
    color: white;
    animation-name: blink;
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, start);
    animation-play-state: running;
}


.obscure {
    opacity: 50%;
}

#newQuote {
    width: 100%;
    padding: .5em initial;
    box-sizing: border-box;
}